@import '../../../../styles/colors.scss';


.email-form {

    &__forgot-password {
        text-align: right;
        font-size: 1.4rem;
        font-weight: 400;
        color: $main-color;
        margin: 10px 0;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}