@import '../../../../styles/colors.scss';

.menu {
    width: 24rem;
    min-height: 100%;
    padding: 0 24px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;

    &__logo {
        text-align: center;
        padding: 2.4rem 0 3rem;
    }

    &__list {
        position: relative;

        &-item {
            display: flex;
            align-items: center;
            height: 44px;
            text-decoration: none !important;
            text-transform: none;
            margin: 1rem 0;

            p {
                font-size: 1.8rem;
                color: #474748;
                font-weight: 400;
                margin: 0;

            }

            &:hover p {
                color: $main-color;
            }

            // &:hover img {
            //     filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
            //     // filter: $main-color;
            // }

        }

        .line {
            position: absolute;
            left: 0;
            top: 0;
            width: 4px;
            height: 44px;
            border-radius: 15px;
            background-color: $main-color;
            transition: all 0.3s ease;
        }

        .item--active p {
            font-weight: 500;
            color: $main-color;
        }

        &-icon {
            width: 1.8rem;
            height: 1.8rem;
            margin: 0 1rem;
        }
    }
}